.prisoner{
    display: block;
    text-align: center;
    font-style: italic; 
    margin-top: 0;
    margin-bottom: 5px; 
    color: #666; 
}

.dilema{
    font-weight: normal;
    cursor: pointer;
    text-shadow: 0 0 20px transparent;
    color: transparent;
    animation: shadows 4s infinite ease-in
}
@keyframes shadows {
    10% {
      text-shadow: 0 0px 1px black;
    }
    60% {
      text-shadow: 0 0px 1px gray;
}
}